AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin
S3_URL=http://minio:9000/
S3_EXTERNAL_URL=http://localhost:9000/
AWS_DEFAULT_REGION=us-east-1
S3_BUCKET=datasets
S3_DIRECTORY=.minio

SPARK_CORE_NUMBER="8"
SPARK_EXECUTOR_MEMORY="8g"
SPARK_DRIVER_MEMORY="8g"

POSTGRES_DB=genpm
POSTGRES_USER=genpm
POSTGRES_PASSWORD=genpm


KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_SERVER_URL=http://keycloak:8080
KEYCLOAK_ISSUER_URL=http://localhost:8080
KEYCLOAK_REALM=genpm
KEYCLOAK_CLIENT_ID=genpm-frontend
KEYCLOAK_REQUIRED_ROLES=
KEYCLOAK_ADMIN_ROLE=admin
VITE_KEYCLOAK_ADMIN_ROLE=admin
FRONTEND_ORIGIN=http://localhost:5173

AIRFLOW_URL=http://administrator-genpm-airflow-apiserver-1:9005
AIRFLOW_API_PREFIX=/api/v2
AIRFLOW_JWT_SECRET=airflow_jwt_secret
AIRFLOW_JWT_ALGORITHM=HS512
AIRFLOW_JWT_ISSUER=airflow
AIRFLOW_JWT_AUDIENCE=apache-airflow
AIRFLOW_SERVICE_ACCOUNT_SUB=genpm-backend
AIRFLOW_JWT_TTL_SECONDS=600
AIRFLOW_HTTP_TIMEOUT_SECONDS=15
LOG_STREAM_MAX_DURATION_SECONDS=7200
LOG_STREAM_HEARTBEAT_SECONDS=15
DAG_LIST_CACHE_SECONDS=30