MINIO_USER=minioadmin
MINIO_PASSWORD=minioadmin

MINIO_DIRECTORY=.minio

POSTGRES_DB=genpm
POSTGRES_USER=genpm
POSTGRES_PASSWORD=genpm

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_SERVER_URL=http://keycloak:8080
KEYCLOAK_ISSUER_URL=http://localhost:8080
KEYCLOAK_REALM=genpm
KEYCLOAK_CLIENT_ID=genpm-frontend
KEYCLOAK_REQUIRED_ROLES=
FRONTEND_ORIGIN=http://localhost:5173
